.globalChat {
    grid-area: global-chat;
    margin-left: 3%;
}
.lobbyChat {
    grid-area: lobbyChat;
    margin-right: 3%;
}

.globalChat, .lobbyChat {
  box-shadow: 2px 2px 5px 2px rgb(0 0 0 / 40%);
  position: relative;
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
  border-radius: 1%;
}

.messagesList {
    overflow: auto;
}
.messagesList > div {
    margin-left: 1%;
}

.formPostMessage {
    display: flex;
    flex-direction: row;
    border: thin solid grey;
    border-radius: 15px;
    width: 94%;
    padding: 3px;
    margin-left: 1%;
    margin-top: auto;
}

.chatText {
    border-radius: 15px;
    border-width: thin;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    border: none;
    padding-left: 7px;
    margin-right: 5px;
}

.postMessageBtn {
    border-radius: 15px;
    border-style: none;
}